# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Paint.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\chaos\Documents\Jetbrains workspaces\C#\Paint\.idea\.idea.Paint\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
